html,
body,
.page-panel {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
/* 部分select样式 */
.select_cont {
  min-width: 300px;
  max-width: 800px;
}
.select_cont ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.select_cont ul li {
  margin: 10px;
}

/* 地图各类”点“样式 */
/* .amap-markers .amap-marker{
  z-index: 101;
} */
.circular_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: normal;
  padding: 10px 0;
  background:rgba(17, 144, 255, 0.5);
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  color:#fff
}
.circular_icon:hover{
  background:rgb(17, 144, 255)
}
.amap-icon {
  width: 60px !important;
  height: 60px !important;
}
.amap-icon img {
  display: none;
  width: 100% !important;
  height: 100% !important;
}

.town_cont{
  position: relative;
}
.town_cont .circular{
  width:32px;
  height:32px;
  border-radius: 50%;
  border: 1px solid rgb(24, 144, 255);
  box-sizing: border-box;
}
.town_cont .slash{
  width: 10px;
  height: 1px;
  background-color: rgb(24, 144, 255);
  transform: rotate(147deg);
  position: absolute;
  left: 26px;
  top: 24px;
}
.town_cont .word{
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 35px;
  top: -2px;
  white-space: nowrap;
  font-size: 14px;
  padding: 2px 4px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgb(24, 144, 255);
  border-radius: 4px;
}


.trading_cont{
  position: relative;
}
.trading_cont .word{
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.6);
  padding: 1px 6px;
  border-radius: 12px;
  box-shadow: 0 0 4px #fff;
  color:#fff
} 
.trading_cont .trading_icon{
  color:#fff;
  width:30px;
  height:30px;
  opacity: 0.85;
  margin:20px auto;
  border-radius:30px 30px 30px 0;
  -webkit-transform:rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform:rotate(-45deg);
  
} 
.trading_cont .trading_icon:after{ 
  content: "";
  width: 10px;
  height: 10px;
  border:2px solid #fff;
  position: absolute; 
  top:10px;
  left:10px;
  border-radius: 100%;
}
.trading_cont .circle{
  width: 10px;
  height: 10px;
  border-radius: 5px 10px;
}
.trading_cont .trading_icon::before{ 
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -10px;
  background: rgb(77, 77, 77);
  left: -10px;
  border-radius: 5px 10px;
  box-shadow: 1px 1px 1px #666;
}


/* 
.ant-dropdown-link {
  color: #ccc;
} */
.ant-checkbox-group .ant-checkbox-group-item {
  position: relative;
}
.ant-checkbox-group .ant-checkbox-group-item .ant-checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.ant-checkbox-group .ant-checkbox-group-item .ant-checkbox-inner {
  opacity: 0;
}
.ant-checkbox.ant-checkbox-checked + span {
  color: #1890ff;
}

/* 选择区域弹窗基本样式 */
.region_cont .ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}
.region_cont .ant-radio-button-wrapper-checked {
  box-shadow: 0 0 0 transparent;
}
.region_cont .ant-radio-button-wrapper-checked:hover {
  box-shadow: 0 0 0 transparent;
}
.region_cont .filter_cont {
  position: relative;
}
.region_cont .filter_cont .ant-input-search, .region_cont .filter_cont .ant-input-affix-wrapper {
  position: absolute;
  width: 50% !important;
  right: 0;
  top: 0;
}
.region_cont .tag_cont {
  position: absolute;
  z-index: 1;
  left: 51.5%;
  top: 4%;
  opacity: 0;
}
.region_cont .tag_cont:hover {
  opacity: 1;
}
.region_cont .tag_cont:hover .filter_cont .ant-input {
  color: transparent;
}
.ant-row-flex-top {
  align-items: center;
}

/* navbar导航icon背景图 */
.nav_bar_bg {
  width:100%;
  position: absolute;
  right: 0;
  left: 0;
  margin:auto;
  z-index:-1
}
.map_cont {
  background: rgb(245, 245, 245)
    url(https://gw.alipayobjects.com/mdn/cdvs/afts/img/A*buJJRYqHbGAAAAAAAAAAAABjARQnAQ)
    no-repeat 10px center;
  background-size: auto;
}
.out_cont {
  background: rgb(245, 245, 245)
    url(https://gw.alipayobjects.com/mdn/cdvs/afts/img/A*V9FSRJlO9WQAAAAAAAAAAABjARQnAQ)
    no-repeat 10px center;
  background-size: auto;
}
.chart_cont {
  background: rgb(245, 245, 245)
    url(https://gw.alipayobjects.com/mdn/cdvs/afts/img/A*WYa6QJqbEPQAAAAAAAAAAABjARQnAQ)
    no-repeat 10px center;
  background-size: auto;
}
.cont {
  background: rgb(0, 113, 188)
    url(https://gw.alipayobjects.com/mdn/cdvs/afts/img/A*ojIqQJH7MO0AAAAAAAAAAABjARQnAQ)
    no-repeat 0px center;
  background-size: auto;
}

/* silderbar样式 */
.silder_bar .crm-menu {
  background: url(https://gw.alipayobjects.com/mdn/cdvs/afts/img/A*2B8fRL2hFDUAAAAAAAAAAABjARQnAQ)
    no-repeat !important;
  background-size: cover !important;
}
.silder_bar .crm-menu .crm-menu-toggle {
  display: none;
}
.silder_bar .crm-menu > .crm-menu-submenu > .crm-menu-submenu-item {
  width: 100%;
  color: #fff;
  background: transparent;
  display: flex;
  font-size: 18px;
}
.silder_bar .crm-menu > .crm-menu-submenu > .crm-menu-submenu-children .crm-menu-submenu-item {
  color: #a2d7ff;
}
.silder_bar .crm-menu > .crm-menu-submenu:nth-of-type(2) .crm-menu-submenu-item {
  width: 100%;
  height: 25px;
  line-height: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.silder_bar .crm-menu > .crm-menu-submenu:nth-of-type(2) .crm-menu-submenu-item:hover{
  background: #fff;
  color: #0071BC;
  width:calc(100% - 20px);
  margin-left:20px;
}
.silder_bar .crm-menu > .crm-menu-submenu:nth-of-type(2) .crm-menu-submenu-item-vertical-selected {
  background: #fff;
  color: #A2D7FF;
}
.silder_bar .crm-menu>.crm-menu-submenu .crm-menu-submenu-item-vertical-selected-children{
  color: #fff!important;
}
.silder_bar .crm-menu-submenu-item-vertical:hover i.anticon {
  color: #fff;
}
.silder_bar .crm-menu .crm-menu-submenu-item-icon .anticon {
  color: #fff;
}
.silder_bar .crm-menu .crm-menu-submenu .crm-menu-submenu-item .crm-menu-submenu-item-arrow {
  color: #fff;
  position: static;
}
.silder_bar .crm-menu .crm-menu-submenu .crm-menu-submenu-item .crm-menu-submenu-item-arrow i.anticon{
  color: #fff;
}
.silder_bar .crm-menu-submenu-item-vertical-selected:after,.silder_bar .crm-menu-submenu-item-vertical-selected:before{
  display: none;
}
.silder_bar .crm-menu .crm-menu-submenu-item-vertical:first-child {
  border: none;
}
.silder_bar .crm-menu .crm-menu-submenu-item-vertical {
  border: none;
}
.silder_bar .crm-menu > .crm-menu-submenu > .crm-menu-submenu-children .crm-menu-submenu {
  padding: 3px 0;
}
.silder_bar .crm-menu
  > .crm-menu-submenu
  > .crm-menu-submenu-children
  .crm-menu-submenu
  > .crm-menu-submenu-item {
  width: calc(100% - 20px);
  height: 25px;
  line-height: 25px;
  padding: 0;
  text-indent: 2em;
  font-size: 15px;
  margin-top: 0;
  margin-left: 20px;
}
.silder_bar .crm-menu
  > .crm-menu-submenu
  > .crm-menu-submenu-children
  .crm-menu-submenu-item-vertical-selected {
  background: #fff;
  color: #0071BC;
  position: relative;
}
.silder_bar .crm-menu-submenu-item-icon {
  width: 20px;
}
.silder_bar .crm-menu-submenu-item-icon .crm-menu-submenu-item-icon-img {
  height: 20px;
  vertical-align: middle;
}


/* 指数类页面table样式 */
.table_cont{
  padding:0 45px;
}
.table_cont .ant-table .ant-table-content .ant-table-header,.table_cont .ant-table .ant-table-content .ant-table-header .ant-table-thead>tr>th{
  background:transparent;
}
.table_cont .ant-table .ant-table-content .ant-table-header .ant-table-thead>tr>th,.table_cont .ant-table .ant-table-content .ant-table-body .ant-table-tbody>tr>td{
  border-bottom: 1px dashed #e8e8e8;
  padding:6px 16px;
  text-align: center;
}
.table_cont .ant-table .ant-table-content .ant-table-body .ant-table-tbody>tr>td{
  /* color:#0071BC; */
}
.table_cont .clearfix{
  display:flex;
}
.table_cont .ant-pagination.ant-table-pagination{
  margin: 16px auto;
}
.table_cont .ant-pagination.ant-table-pagination li,.table_cont .ant-pagination-options-quick-jumper{
  height:16px;
  line-height:14px;
}
.table_cont .ant-pagination-options-quick-jumper input{
  height:16px;
  line-height:16px;
}
.table_cont .ant-pagination.ant-table-pagination li a::after{
  height: 14px;
  line-height: 14px;
}
.table_cont .ant-pagination.ant-table-pagination li.ant-pagination-item{
  /* color:#0071BC; */
  border:none;
}
.table_cont .ant-pagination.ant-table-pagination li.ant-pagination-item a{
  vertical-align: middle;
  height:16px;
  display: block;
}
.table_cont .ant-pagination.ant-table-pagination li.ant-pagination-item-active{
  color: #fff;
  /* background:#0071BC; */
}
.table_cont .ant-pagination.ant-table-pagination li.ant-pagination-item-active a{
  color: #fff;
}
.table_cont .ant-pagination.ant-table-pagination li.ant-pagination-prev a,
.table_cont .ant-pagination.ant-table-pagination li.ant-pagination-next a{
  /* color:#0071BC; */
  border-color: transparent;
}
.table_cont .ant-pagination.ant-table-pagination li.ant-pagination-prev a::after,
.table_cont .ant-pagination.ant-table-pagination li.ant-pagination-next a::after{
  /* color:#0071BC; */
  font-size: 18px;
}
.table_btn .ant-btn{
  border-color:#0071BC;
  color: #0071BC;
}



.select_multiple_cont,.select_multiple_cont .ant-select-selection,.select_multiple_cont .ant-select-selection__rendered,.select_multiple_cont .ant-select-selection__rendered ul{
  height:24px;
}
.select_multiple_cont .ant-select-selection__rendered ul{
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select_multiple_cont .ant-select-selection__rendered ul li{
  padding:0 12px 0 5px;
  font-size: 12px;
}

/* 地图页面单选框样式 */
.map_radio_switch .ant-radio-group{
  width:100%;
  display: flex;
}
.map_radio_switch .ant-radio-group .ant-radio-button-wrapper{
  background: transparent;
  border-color:#fff;
  color:#fff;
  width:calc(100% / 3);
  padding: 0;
  text-align: center;
}
.map_radio_switch .ant-radio-group .ant-radio-button-wrapper:first-child{
  border-radius: 2px 0 0 2px;
}
.map_radio_switch .ant-radio-group .ant-radio-button-wrapper:last-child{
  border-radius: 0 2px 2px 0;
}
.map_radio_switch .ant-radio-group .ant-radio-button-wrapper.ant-radio-button-wrapper-checked{
  background-color: #fff;
  color: #338de6;
}

.radio_screen_cont .ant-radio-group{
  width:100%;
  display: flex;
}
.radio_screen_cont .ant-radio-group .ant-radio-button-wrapper{
  background: transparent;
  border:1px solid #fff;
  color:#fff;
  height:20px;
  line-height:20px;
  padding: 0 5px;
  text-align: center;
  border-radius: 0;
  margin-left:4px;
  font-size: 12px;
}
.show .ant-col-6 {
  display: block;
  width: 100%;
}
.radio_screen_cont .ant-radio-group .ant-radio-button-wrapper.ant-radio-button-wrapper-checked{
  background-color: #fff;
  color: #338de6;
}

/* 地图页面table样式 */
.map_table_cont .cicada-block-item-margin-default{
  margin: 0;
}
.map_table_cont .ant-table,.map_table_cont .ant-table .ant-table-content .ant-table-body table{
  border-radius: 0;
  border-left: none;
}
.map_table_cont .ant-table .ant-table-content .ant-table-body thead.ant-table-thead>tr{
  border:1px solid #fff;
}
.map_table_cont .ant-table .ant-table-content .ant-table-body thead.ant-table-thead>tr>th{
  background:transparent;
  color:#fff;
  padding:0;
  text-align: center;
  font-weight: normal;
  border-right: none;
}
.map_table_cont .ant-table .ant-table-content .ant-table-body thead.ant-table-thead>tr>th:first-child{
  border-left: 1px solid #fff;
}
.map_table_cont .ant-table .ant-table-content .ant-table-body thead.ant-table-thead>tr>th:last-child{
  border-right: 1px solid #fff;
}
.map_table_cont .ant-table .ant-table-content .ant-table-header .ant-table-thead>tr>th,.map_table_cont .ant-table .ant-table-content .ant-table-body .ant-table-tbody>tr>td{
  border-bottom: 1px dashed rgba(255,255,255,.5);
  padding: 10px 0;
  text-align: center;
  color:#fff;
  border-left:none;
  border-right: none;
  font-weight: normal;
}
.map_table_cont .ant-table .ant-table-content .ant-table-header .ant-table-thead>tr>th,.map_table_cont .ant-table .ant-table-content .ant-table-body .ant-table-tbody>tr:last-child td{
  border-bottom: 1px solid rgba(255,255,255,.5);
}
.map_table_cont .ant-table-tbody>tr.ant-table-row-hover>td,.map_table_cont .ant-table-tbody>tr:hover>td,.map_table_cont .ant-table-thead>tr.ant-table-row-hover>td,.map_table_cont .ant-table-thead>tr:hover>td{
  background: transparent;
}

/* 地图页面搜索框 */
.map_search_cont{
  background: #fff;
  overflow: hidden;
  display: flex;
  position: absolute;
  top: 30px;
  left: 30px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  border-radius: 4px;
  padding: 6px;
  height: 38px;
}
.map_search_cont .ant-input-affix-wrapper{
  height: 26px;
  width:100%;
}
.map_search_cont .ant-input{
  height: 26px;
  width:188px;
  padding-right:0;
  box-sizing: border-box;
  border:none;
  border-right: none;
}
.map_search_cont .ant-btn{
  border:none;
  height: 26px;
  background: transparent url(https://gw.alipayobjects.com/mdn/cdvs/afts/img/A*rcHUToSsslEAAAAAAAAAAABjARQnAQ)
  no-repeat center;
  background-size: auto;
}

/* 指数类页面 图表转换按钮样式 */
.column_cont .cicada-label{
  background: url(https://gw.alipayobjects.com/mdn/cdvs/afts/img/A*CCnRT4bC4ecAAAAAAAAAAABjARQnAQ) no-repeat center;
}
.point_cont .cicada-label{
  background: url(https://gw.alipayobjects.com/mdn/cdvs/afts/img/A*6KUgR51p3S0AAAAAAAAAAABjARQnAQ) no-repeat center;
}
.line_cont .cicada-label{
  background: url(https://gw.alipayobjects.com/mdn/cdvs/afts/img/A*5yNSQoDcYy0AAAAAAAAAAABjARQnAQ) no-repeat center;
}
.reset_cont .cicada-label{
  background: url(https://gw.alipayobjects.com/mdn/cdvs/afts/img/A*chepT4Xg-UAAAAAAAAAAAABjARQnAQ) no-repeat center;
}

/* 地图上切换筛选条件框样式 */
.popup_cont_title{
  position: absolute;
  width:42px;
  height: 212px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* background: url() */
}
.condition_screening_cont{
  position: absolute;
  right: 30px;
  top:30px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  background-color: #fff;
  border-radius: 4px;
  display: flex;
}
.business_street_cont,.date_cont{
  display: inline-flex;
  border-right: 1px dashed #9A9A9A;
}
.condition_screening_cont .cicada-label{
  font-size:14px!important;
  cursor: pointer;
}

.natural_label{padding-left: 20px;}
.refresh_cont .cicada-label{
  padding: 0 0 0 14px;
}
.amap-copyright{
  display: none!important;
}
.amap-logo{
  /* position: absolute;
  left:auto;
  right:30px;
  bottom:30px; */
  /* width: 120px;
  height: 33px; */
}
.amap-logo img{
  /* width:100%!important;
  height:auto!important; */
}

/* 地图左侧展示框 */
.map_left_cont{
  width:370px;
  padding:0 20px;
  background: url(https://gw.alipayobjects.com/mdn/cdvs/afts/img/A*sML4QJVUMKEAAAAAAAAAAABjARQnAQ) no-repeat;
  background-size: cover;
}
/* 地图右侧展示框样式 */
.map_right_title_cont{
  position: absolute;
  width: 44px;
  top:0;
  bottom:0;
  left:0;
  margin:auto;
  letter-spacing: 0.3em;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
}
.map_right_title_cont .cicada-label{
  background: url(https://gw.alipayobjects.com/mdn/cdvs/afts/img/A*ArWCR4cm-ygAAAAAAAAAAABjARQnAQ) no-repeat center;
}
.map_right_cont_title{
  margin-left: 30px;
  color: #fff;
  background:#0071be;
  padding: 1px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
